/* All styles for your Card Components live here */

.bannerimg {
  border-radius: 4px;
}

.card-content {
  border: 1px solid #777777;
  border-radius: 4px;
  margin: -0.25rem 0 0.5rem;
  width: 398px;
}

.card-container {
  border: 1px solid #222222;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding-right: 2rem;
}
